html, body {
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 100px;
    background-color: #121212;
}

.container {
    display: flex;
    background-color: #121212;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* This should stretch the container to at least the height of the viewport */
}

.upper_body {
    display: flex;
    position: relative;
    background-image: url("../images/styled-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 420px;
    width: 100%;
    margin: 0;
    z-index: 100;
}



.values {
    color: white;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 100px;
    align-self: flex-start;
}

.lower_body {
    display: flex;
    justify-content: center;
    margin-top: 18vh;
    grid-template-columns: repeat(3, 350px);
    align-items: center;
    gap: 8vw;
    background-color: #121212;
}

.lower_body .left-container,
.lower_body .middle-container,
.lower_body .right-container {
    margin: 0;
    color: black;
    width: 20vw;
    height: 40vh;
    background-color: white;
    font-family:Trebuchet MS sans-serif; ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 3vw;

}

.lower_body .left-container p {
    margin-bottom: 10px;
}


.dashboard-title{
    font-size: 50px;
    font-family:Trebuchet MS sans-serif;
}
.blue-text {
    color: #1792ec;
    font-size: 36px;
    text-align: center;
}

.vertical_rl {
    display: flex;
    font-family: "Roboto Thin", fantasy;
    flex-direction: column;
    writing-mode: sideways-rl;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.vertical_rl p {
    color: white;
    font-size: 26px;
    line-height: 1.5;
}

