html, body {
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 100px;
    background-color: black;
    color: #34495e; /* Text color for better contrast */
}



.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use viewport height to make the container take the full screen height */
}


.upper-body {
    display: flex;
    position: relative;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 420px;
    width: 100%;
    margin: 0;
    z-index: 100;
}


.upper-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    background-color: #85c1e9; /* Medium blue color */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 36px;
    text-align: center; /* Center align the text */
}
/*
<div class="upper-layer">
            <p class="quote">
                The Purpose and Goal of <br>
                <br>
                <span class="blue-text">"BLUE"</span>
            </p>
        </div>
 */


.values {
    color: white;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 100px;
    align-self: flex-start; /* Align the .values section to the start of the container */
}


.lower-body {

    display: grid;
    margin-top: 180px;
    grid-template-columns: repeat(3, 350px); /* 3 columns of equal width */
    justify-content: center; /* Center grid items horizontally */
    align-items: start; /* Align grid items to the start of the container vertically */
    gap: 50px; /* Space between grid items */
}


.lower-body .left-container,
.lower-body .middle-container,
.lower-body .right-container {
    color: black;
    width: 350px;
    height: 400px;
    background-color: white; /* Light blue color */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 20px; /* Adjust the value to make the font bigger */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.lower-body .left-container p {
    margin-bottom: 10px; /* Adjust the value to increase or decrease the space */
}


.blue-text {
    color: blue; /* Change the text color to blue */
    font-size: 36px;
    text-align: center;
}


.vertical-rl {
    display: flex;
    flex-direction: column;
    writing-mode: sideways-rl;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.5;
}


.vertical-rl p {
    color: #34495e; /* Default text color */
    font-size: 26px;
    line-height: 1.5;
}

.vertical-rl p span {
    color: blue; /* Color for the word "BLUE" */
}
