html, body {
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 10vh;
}
.upper-body {
    display: flex;
    background-color: #C96536;
    height: 45vh;
    width: 100%;
    margin: 0;
    z-index: 100;
}
.upper-layer{
    display: flex;
    position: relative;
    width: 70%;
    height: 38vh;
    padding-left: 5vw;
    left: 56vw;
    top: 20vh;
    background-color: #369ac9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 36px;
}
.values{
    display: flex;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 100px;
}
.lower-body {
    display: grid;
    margin-top: 180px;
    grid-template-columns: repeat(3, 350px); /* 3 columns of equal width */
    justify-content: center; /* Center grid items horizontally */
    align-items: start; /* Align grid items to the start of the container vertically */
    gap: 50px; /* Space between grid items */
}
.left-container, .middle-container, .right-container {
    width: 350px;
    height: 400px;
    background-color: #369ac9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container {
    /* Ensure there's no margin or padding here that could affect the layout */
}


