html, body {
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 100px;
    background-color: black;
    color: #34495e;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.upper-body {
    display: flex;
    position: relative;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 420px;
    width: 100%;
    margin: 0;
    z-index: 100;
}

.upper-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    background-color: #85c1e9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 36px;
    text-align: center;
}

.values {
    color: white;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 100px;
    align-self: flex-start;
}

.lower-body {
    display: grid;
    margin-top: 180px;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.lower-body .left-container,
.lower-body .middle-container,
.lower-body .right-container {
    color: black;
    width: 350px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-body .left-container p {
    margin-bottom: 10px;
}

.blue-text {
    color: blue;
    font-size: 36px;
    text-align: center;
}

.vertical-rl {
    display: flex;
    flex-direction: column;
    writing-mode: sideways-rl;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.vertical-rl p {
    color: #34495e;
    font-size: 26px;
    line-height: 1.5;
}

.vertical-rl p span {
    color: blue;
}
