
body {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 10vh;
    z-index: 1000;
}

.emoji {
    position: absolute;
    animation: move 3s infinite;
}

.emoji1 {
    font-size: 60px;
    top: 50px;
    left: 50px;
}

.emoji2 {
    font-size: 80px;
    top: 200px;
    left: 100px;
}

.emoji3 {
    font-size: 100px;
    top: 300px;
    left: 150px;
}

.emoji4 {
    font-size: 60px;
    bottom: 50px;
    right: 50px;
}

.emoji5 {
    font-size: 80px;
    bottom: 100px;
    right: 100px;
}

.emoji6 {
    font-size: 100px;
    bottom: 150px;
    right: 150px;
}

@keyframes move {
    0% { transform: translate(0, 0); }
    50% { transform: translate(50px, -50px); }
    100% { transform: translate(0, 0); }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.values {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #b3d9ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 50px;
    font-size: 24px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 70px;
    color: #ecde3e;
}
