body, h1, p, div {
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, sans-serif;




}


header {
    display: flex;
    height: 10.1vh ;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
}
/*.page-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}8/

 */
.page-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 17vw;
    height: 10vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    font-family: 'Brush Script MT', fantasy;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    text-align: center;
}




.dash-center {
    flex: 1; /* Takes up the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw; /* Adjust if needed */
}

.title {
    display: flex;
    justify-content: start;
    margin-top: 0;
    color: white;
}



.subsection:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.main_content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 10vw;
    width: 80%; /* Ensure it takes full width */
}

.dash_board {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the child elements like .graph */
    width: 80%; /* Adjust based on your layout needs */
    margin: 0 auto; /* This centers .dash_board itself */
}


.goal-input {
    margin-bottom: 20px;
}

.goal-input input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.goal-input button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.goal-list {
    margin-top: 20px;
}

.goal-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #EDEDED;
}

.goal-item.completed {
    background-color: #C5E1A5;

}
main{
    display: flex;
    position: relative;
    padding-right: 3vw;
    overflow-x: hidden;
    margin-left: 7vw;
    width: 100%;
    padding-bottom:37.87vh;

    background-color: #ebc934;
}

.navigation {
    width: 17vw;
    overflow-y: auto;
    background-color: #121212;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 10vh;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.navigation ul li a:hover {
    background-color: #007bff;
}
.dash_board{
    margin: 0;
}

#emotion_chart {


    transform-origin: top left; /* Ensures the scaling starts from the top left corner */
}


.graph{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    left: 24vw;

    width: 50vw; /* Adjust based on your desired width */
    height: 50vh; /* Adjust based on your desired height */
    background-color: #F6F6F6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

