body, p, div {
    margin: 0;
    padding: 0;
}



body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, sans-serif;
    z-index: 10;
}



header {
    display: flex;
    height: 10.1vh ;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
}

.page-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 17vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1fb3f3;
    background-position: center;
    border-color: black;
    font-family: 'Brush Script MT', fantasy;
    font-size: 80px;
    font-weight: bolder;
    color: gold;
    text-align: center;
}

.dash-center {
    display: flex;
    position: relative;
    padding-inline: 1vw;
    width: 35vw;
    margin-left: 19vw;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(150, 150, 150, 0.5);

}


.title {
    position: relative;
    justify-content: left;
    text-align: left;
    color: #333;
    font-size: 24px;
}

.subsection:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.main-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 10vw;
    width: 100%;
}

main{
    display: flex;
    position: relative;
    margin-left: 7vw;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 100vh;
    z-index: 2;
}

.navigation {
    width: 17vw;
    overflow-y: auto;
    background-color: #1fb3f3;
    padding-bottom: 12vh;
    padding-top: 1.2vh;
    color: white;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 10vh;
    font-size: 24px;
    z-index: 3;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.navigation ul li a:hover {
    background-color: #1fb3f3;
    color: gold;
}
.dash-board{
    margin: 0;
}

#emotion_chart {

    transform-origin: top left;
}



