
.feedback-support {
    width: 50%;
    padding: 20px;
    margin-top: 20vh;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}

.feedback-support h2,
.feedback-support h3 {
    color: #333;
}

.feedback-support p {
    margin-bottom: 10px; /* Space between paragraphs */
}