


/* Services Button Hover Effect */
.About-us:hover{
    text-decoration: underline;

}
.Services:hover {
    text-decoration: underline;
}

/* Blog Button Hover Effect */
.Blog:hover {
    text-decoration: underline;
}

/* Contact Us Button Hover Effect */
.Contact-us:hover { /* Note the escape character \ for spaces in class names */
    text-decoration: underline;
}
.Log-in:hover{
    background-color: white;
    color: rgba(51, 102, 255);
}






