/* logger.css */

body {
    padding-bottom: 50vh;
}

.emotion-logger {
    background-color: #ffffff;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 40%;
    margin: 0 auto;
    position: relative;
    bottom: 15vh;
    right: 9vw;
}


.emotion-logger h2 {
    text-align: center;
    color: #333;
}

.emotion-logger form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}

.emotion-logger label {
    margin-bottom: 5px;
    font-weight: bold;
}

.emotion-logger input[type="date"],
.emotion-logger select,
.emotion-logger textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.emotion-logger button {
    background-color: #187dce;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.emotion-logger button:hover {
    background-color: #105a94;
}

/* New styles for emotion containers */
.emotion-container {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: calc(20% - 20px); /* Limit each emotion container to 20% of the container width (minus margin) */
}

.submission-box {
    display: flex;
    flex-wrap: wrap; /* Allow emotions to wrap to new lines */
    gap: 20px; /* Add some space between emotion containers */
    position: relative;
    bottom: 15vh;
    right: 20vw;
    height: 50vh;
    padding-bottom: 7vh;
    width: 32%;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
