.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-content {
    width: 35%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 150px;
    box-sizing: border-box;
}

.dashboard-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.login-form button {
    width: 105.5%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.register:link,
.register:visited {
    color: black;
    text-decoration: underline;
}
