.main-section{
    background-color: black;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;

}


.About-us, .Resources, .Blog, .Contact-us, .Log-in {
    position: relative;
    right: 50px;
    font-family: "Roboto Thin", fantasy;
    font-weight: bold;
    font-size: 28px;
    margin: 14px; /* Adds space around buttons */
    white-space: nowrap;
    padding: 20px 50px; /* Adjusts the padding inside the buttons for a larger click area and better visual appearance */
    background-color: transparent; /* Example background color */
    border-color: transparent;
    cursor: pointer; /* Changes cursor to pointer on hover over the buttons */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    color: white;
    text-decoration: none;
}

.About-us_button-style:link,
.About-us_button-style:visited,
.Resources-link:link,
.Resources-link:visited,
.Blog-link:link,
.Blog-link:visited,
.Contact-us-link:link,
.Contact-us-link:visited {
    color: white; /* Sets the color of the link text to white */
    text-decoration: none;

}

/* Services Button Hover Effect */
.About-us:hover{
    text-decoration: underline;

}
.Resources:hover {
    text-decoration: underline;
}

/* Blog Button Hover Effect */
.Blog:hover {
    text-decoration: underline;
}

/* Contact Us Button Hover Effect */
.Contact-us:hover { /* Note the escape character \ for spaces in class names */
    text-decoration: underline;
}

.Log-in:hover{
    background-color: white;
    color: #2e9dfc;
}





